.chart-container {
  width: 100%;
  height: 300px;
}
.chart-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.8rem;
  }
}

.container {
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;

  .big-text {
    font-size: 2rem;
    font-weight: bold;
  }
  .red-big-text {
    color: red;
    font-size: 2rem;
    font-weight: bold;
  }
}
